h2 {
  color: blue;
}

label {
  margin-bottom: 0px;
}

/* -------- mark completed checkbox----------- */
.task-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}

/* Hide the browser's default checkbox */
.task-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.mark-completed-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  
border-radius: 15px;
}

/* On mouse-over, add a grey background color */
.task-container:hover input ~ .mark-completed-button {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.task-container input:checked ~ .mark-completed-button {
  background-color: #2196F3;
}

/* Create the mark-completed-button/indicator (hidden when not checked) */
.mark-completed-button:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the mark-completed-button when checked */
.task-container input:checked ~ .mark-completed-button:after {
  display: block;
}

/* Style the mark-completed-button/indicator */
.task-container .mark-completed-button:after {
  left: 10px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* --------- task ------------- */
.task {
  padding: 1rem 2rem;
  border-bottom: 1px solid #E6E9EE;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-container {
  padding-top: 3px;
}

.remove-button {
  -webkit-transition: color 500ms;
  -moz-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
  color: transparent;
  font-size: 16px;
  font-weight: 300;
  cursor: default;
}

#todo-list>div:hover .remove-button{color:#d50c0c}