label {
  margin-bottom: 0px;
}

body {
  background-color: #71b0f8;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  padding-bottom: 1rem;
  color: #F9F9F9;
  font-size: 5rem;
  text-align: center;
  font-weight: 400;
}

.to-do-list-container {
  background: #F9F9F9;
  border-radius: 1rem;
  box-shadow: 0 15px 20px rgb(0 0 0 / 20%);
  padding: 0.25rem 0;
}

.todo-list-container {
  background: #F9F9F9;
  border-radius: 1rem;
  box-shadow: 0 15px 20px rgb(0 0 0 / 20%);
  padding: 0.25rem 0;
}

#create-task {
  padding: 1rem 2rem;
  border-bottom: 1px solid #E6E9EE;
  display: flex;
  justify-content: space-between;
}

#new-task {
  flex-grow: 1;
  padding: 1rem 0;
  border: none;
  background: none;
}

#create-task button {
  background-color: #44F1A6;
  border: none;
  padding: 1rem 2rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E6E9EE;
  padding: 1rem 2rem;
  align-items: center;
  font-size: 1.15rem;
  color: #9B9B9B;
}

.todo-filter {
  display: flex;
}

.todo-filter button {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  background: none;
  border: none;
}

.todo-filter .active {
  background-color: #E6EAED;
  border-radius: 1.5rem;
  color: #3C3C48;
}



/* -------- mark completed checkbox----------- */
.task-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}

/* Hide the browser's default checkbox */
.task-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.mark-completed-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 15px;
}

/* On mouse-over, add a grey background color */
.task-container:hover input ~ .mark-completed-button {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.task-container input:checked ~ .mark-completed-button {
  background-color: #2196F3;
}

/* Create the mark-completed-button/indicator (hidden when not checked) */
.mark-completed-button:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the mark-completed-button when checked */
.task-container input:checked ~ .mark-completed-button:after {
  display: block;
}

.task-container input:checked ~ p{
    color: rgb(217, 217, 217);
    text-decoration: line-through;
} 

/* Style the mark-completed-button/indicator */
.task-container .mark-completed-button:after {
  left: 10px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* --------- task ------------- */
.task {
  padding: 1rem 2rem;
  border-bottom: 1px solid #E6E9EE;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-container {
  padding-top: 3px;
}

.remove-button {
  -webkit-transition: color 500ms;
  -moz-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
  color: transparent;
  font-size: 16px;
  font-weight: 300;
  cursor: default;
}

#todo-list>div:hover .remove-button{color:#d50c0c}